

@media (min-width: 700px) { 
    .Grid{
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: 3fr 2fr;
    }

    .Grid:nth-last-of-type(even){
        grid-template-columns: 2fr 3fr;

    }

    .GridItem1{
        order: 2;
        height: 500px;
    }

    .GridItem2{
        order: 1;  
        height: 500px;
    }

}