.About {
    background: #eeeeee;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 35px; 
    font-family: "Heebo", sans-serif;
  }
  
  .About .Title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .About .Content{
    font-size: 1.3rem;
  }
  
  @media (min-width: 700px) {
    .About {
        /* position: relative; */
        padding-top: 100px; 
        padding: 100px 250px;
    }
  
    .About .Title {
      font-size: 3.5rem;
    }
  
    .About .Content {
      text-align: start;
      font-size: 1.5rem;
    }
  }
  