.Toolbar{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(34, 31, 32);  


    display: flex;
    justify-content: space-between;

    padding:0 10px;
    box-sizing: border-box;
    
    z-index: 90;

    transition: transform 0.3s ease-out, background-color 0.3s linear;

}


.SideDrawerOpen{
    background-color: black;
}

.DesktopOnly {
    display: none;
}

@media(min-width: 700px){
    .Toolbar{
        padding-right:0 ;
    }    

    .DesktopOnly {
        display: block;
    }
}
