.Toolbar{
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(20, 63, 104);  /* fallback for old browsers */


    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom:1px solid rgb(15, 45, 80);
    box-shadow: 1px 1px rgb(10, 30, 40);


}



.Logo {
    height: 90%;
}


.Title h2 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 0rem;
    padding-left: 85px;
    color: white;
}

.DesktopOnly {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Line{
    font-weight: bold;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }

    .Toolbar{
        padding:0 10px;
        justify-content: space-between;
    }

    .Title h2 {
        padding-left: 0;
    }
}


.Toolbar  a:hover {
    text-decoration: none;
}