.Logo {
  /* padding-left: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.Logo img {
  height: 100%;
  width: 80px;
}

.Container {
  height: 90%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
