.Logo {
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 40px;
    width: 33px;
    border: 4px solid white;
    border-radius: 5px;
}

.Title h2 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    letter-spacing: 1px;
    margin: 0rem;
    padding-left: 20px;
    color: white;
}

/*.Container  a:hover {*/
/*text-decoration: none;*/
/*}*/

.Container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}



@media (max-width: 500px) {
    .Title h2 {
        /*color: rgb(45, 121, 208);*/
        padding-left: 5px;
    }

    .Container {
        align-items: center;
    }


}