.NavigationItem {
    box-sizing: border-box;
    width: 120px;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    border: 2px solid rgb(34, 31, 32);;
}



.NavigationItem a {
    text-align: center;
    text-decoration: none;
    width: 120px;
    font-size: 1.6rem;
    font-weight: bold;

    color: inherit;
    transition: color 0.4s, background-color 0.4s;
}

.NavigationItem:hover{
    color: black;
    background-color: #eeeeee;
}

.NavigationItem a:hover {
    color: black;
}




