.Button {
    background-color: rgb(34, 31, 32);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 30px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2rem;
}


.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.AlignSelf{
    align-self: flex-start;
}

