.Card{
    width: 100%;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    /* align-items: flex-start; */
    padding: 55px 50px;

}


.Card .Title{
    font-size: 2.5rem;
    font-family: 'Heebo', sans-serif;
}



.Card .Content{
    font-size: 1.4rem;
    font-family: 'Heebo', sans-serif;
}



