.Card,.Header {
  height: 450px;
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 55px 50px;
  text-align: start;
}

.Card .Title,
.Header .Title {
  
  font-size: 2.5rem;
  font-family: "Heebo", sans-serif;
}

.Card .Content,
.Header .Content {
  font-size: 1.2rem;
  font-family: "Heebo", sans-serif;

}


@media (min-width: 700px) {
  .Card {
    height: 100%;
  }

  .Header {
    height: 550px;
  }

  .Header .Title {
    padding-top: 50px;
    text-align: center;
    font-size: 4.5rem;
  }

  .Header .Content {
    text-align: center;
    font-size: 2.4rem;
  }
}

@media (min-width: 1300px) {
  .Card .Title {
    font-size: 3rem;
  }
  .Card .Content {
    font-size: 1.8rem;
  }

}
