.Header {
    height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.Header h1{
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    color: rgba(34, 31, 32);
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-shadow:2px 2px 2px #333 ;
}

.Header .Title{
    position: absolute;
    top: 90px;
    left: calc(50% - 125px);
}

.Header .Title .Icon{
    color: white;
    /* font-size: 5rem; */
}


.Header::after {
    content: "";
    background: url('../../assets/images/cleanPrivateHouses/cleanPrivateHouses1B&W.JPG');
    background-size: cover;
    
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }



@media (min-width: 700px) { 
    .Header {
        height: 700px;

    }

    .Header::after {
        background-position-y: -400px;
    }

    .Header .Title{
        top: 250px;
        left: calc(50% - 190px);

    }

    .Header h1{
        font-size: 4.3rem;
    }

}