.Header {
    height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.Header h1{
    text-align: center;
    margin: 0;
    padding-bottom: 35px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 3.2rem;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-shadow:2px 2px 2px #333 ;
}

.Header .Title{
    position: absolute;
    top: 155px;
    left: calc(50% - 142px);
}

.Header .Title .Icon{
    color: white;
    /* font-size: 5rem; */
}


.Header::after {
    content: "";
    background: url('../../assets/images/header2.jpeg');
    background-size: cover;
    
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }



  