.Content {
    width: 100%;
    height: calc(100vh - 90px);

    /* height: 100%; */
    margin-top: 90px;
    transition: transform 0.3s ease-in-out;

}

.SideDrawerOpen {
    /* transform: translateX(-70%); */

}